Repository AvengersCodeLovers/Viblo-Reminder, changes with the labels that .github/labeler.yml gives for each.
All labels: Package, Modules, Utils, Unit Test, Services, Github Action, Docker, Documentation

.github/labeler.yml:

Package: package.json
Modules: src/modules/**/*
Utils: src/utils/**/*
Unit Test: tests/**/*
Services: src/services/**/*
Github Action: .github/**/*
Docker: Dockerfile
Documentation: README.md

Added build badge
  README.md
Labels: Documentation

add logging
  Dockerfile
  package.json
  src/app.ts
  src/modules/viblo.modules.ts
  src/utils/datetime.utils.ts
  src/utils/logger.ts
  yarn.lock
Labels: Package, Modules, Utils, Docker

Added development environment
  Makefile
  README.md
  dev.Dockerfile
  docker-compose.yml
Labels: Documentation

Modify logging
  src/modules/viblo.modules.ts
  src/utils/datetime.utils.ts
Labels: Modules, Utils

Added interceptors
  src/interfaces/response/IPostResponse.ts
  src/interfaces/response/IProfileResponse.ts
  src/interfaces/response/IUserPostsResponse.ts
  src/modules/viblo.modules.ts
  src/services/api.ts
  src/utils/axios.ts
Labels: Modules, Utils, Services

Added func get posts by user
  src/modules/viblo.modules.ts
  src/utils/axios.ts
  src/utils/datetime.utils.ts
Labels: Modules, Utils

Add func working file
  .dockerignore
  .eslintignore
  .gitignore
  .prettierignore
  src/app.ts
  src/modules/viblo.modules.ts
  src/utils/file.ts
Labels: Modules, Utils

Add config
  .env.example
  .eslintrc.js
  src/app.ts
  src/config/app.config.ts
  src/utils/axios.ts
Labels: Utils

Fixes rules eslint
  .github/workflows/label.yml
  .github/workflows/lint-prettier.yml
  .prettierrc.json
  docker-compose.yml
  src/app.ts
  src/config/app.config.ts
  src/interfaces/response/IPostResponse.ts
  src/interfaces/response/IStatsResponse.ts
  src/interfaces/response/IUserPostsResponse.ts
  src/modules/viblo.modules.ts
  src/services/api.ts
  src/utils/axios.ts
  src/utils/datetime.utils.ts
  src/utils/file.ts
  src/utils/logger.ts
Labels: Modules, Utils, Services, Github Action

Add fetch posts & notify
  Dockerfile
  dev.Dockerfile
  src/app.ts
  src/interfaces/response/IMonthYearResponse.ts
  src/modules/viblo.modules.ts
  src/utils/axios.ts
  src/utils/chatwork.ts
  src/utils/datetime.utils.ts
  src/utils/file.ts
Labels: Modules, Utils, Docker

Add docker CI build and push
  .github/workflows/build.yml
Labels: Github Action

Feature new
  .env.example
  dev.Dockerfile
  nodemon.json
  package.json
  src/app.ts
  src/config/app.config.ts
  src/interfaces/response/IPostResponse.ts
  src/services/api.ts
  src/utils/axios.ts
  src/utils/calculator.ts
  src/utils/rollbar.ts
  yarn-error.log
  yarn.lock
Labels: Package, Utils, Services
